@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap");

body {
  margin: 0;
  font-family: "Manrope", Courier, monospace;
}

body * {
  box-sizing: border-box;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background-color: #090909;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  color: #ffffff;
  width: 23, 5vw;
  font-size: 3vw;
}

.left-login-image {
  width: 45vw;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #2525252c;
  border-radius: 26px;
  box-shadow: 0px 0px 100px #1a1919;
}

.card-login > h1 {
  color: #ffffff;
  font-weight: 800;
  margin: 0%;
  letter-spacing: 3px;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #3d3d3d2c;
  color: #ffffff;
  font-size: 12pt;
  box-shadow: 0px 10px 80px #000000;
  box-sizing: border-box;
  outline: none;
}

.textfield > label {
  color: #1dcf20;
  margin-bottom: 10px;
}

.textfield > input:placeholder {
  color: #ffffff;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: none;
  border-radius: 8px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #2d3b2d;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }
  .left-login > h1 {
    display: none;
  }
  .left-login {
    width: 100%;
    height: auto;
  }
  .right-login {
    width: 100%;
    height: auto;
  }
  .left-login-image {
    width: 50vw;
  }
  .card-login {
    width: 90%;
  }
}